.task-page-header {
  display: flex;
  align-items: center;
}

.task-page-header a {
  text-decoration: none;
}

.task-page-header-option {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.on-task-option {
  border: solid var(--light-grey) 1px;
}

.task-page-header-option img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.task-page-header-option p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--light-grey);
}

.task-page-header-option:hover {
  opacity: 0.9;
}

.task-circle {
  border: solid 4px var(--alt-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--body-color);
}

.task-circle img {
  width: 1.5rem;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  margin-top: 1rem;
  padding-left: 5rem;
  height: 5.5rem;
  position: relative;
  align-items: center;
}

.progress-bar::-webkit-scrollbar {
  display: none;
}

.completed-task {
  border: solid 4px var(--progress-color);
}

.completed-task:hover {
  box-shadow: 0px 0px 8px rgba(70, 179, 131, 0.9);
}

.progress-bar-in {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 0.4rem;
  z-index: -1;
}

.task-circle {
  position: relative;
}

.task-circle-tool-tip {
  position: absolute;
  color: var(--light-grey);
  background-color: var(--nav-backgroung-color);
  padding: 0.2rem;
  font-size: 0.7rem;
  width: 3rem;
  border-radius: 0.2rem;
  text-align: center;
  bottom: -1.7rem;
  display: none;
}

.task-circle:hover .task-circle-tool-tip {
  display: block;
}
