.qa-section {
  position: fixed;
  border-left: solid var(--alt-color) 1px;
  padding: 2rem 0.3rem;
  padding-top: 6rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  z-index: 99;
}

.q-head {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--light-grey);
}

.qa-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}

.qa-header a {
  text-decoration: none;
}

.qa-header a p {
  color: var(--call-to-action);
}

.qa-header a p:hover {
  opacity: 0.8;
}

.post-template-header img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1.3rem;
}

.top-post-and-comment {
  margin-top: 1rem;
}

.post-template-header {
  display: flex;
  align-items: center;
}

.post-user-name {
  color: var(--alt-text-color);
  font-size: 0.9rem;
  font-weight: 500;
}

.post-user-stack {
  color: var(--light-grey);
  font-size: 0.8rem;
  font-weight: 500;
}

.post-body {
  margin-top: 0.5rem;
  padding: 0px;
}

.post-body p {
  font-size: 0.8rem;
  width: 19rem;
}

.post-template,
.top-comment {
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

.top-comment {
  background-color: var(--nav-backgroung-color);
}

.post-template:hover {
  box-shadow: 0px 0px 6px rgb(255, 255, 255, 0.15);
}

.top-comment:hover {
  border-radius: 2px;
}

.post-reactions {
  margin-top: 0.5rem;
}

.post-reactions .comments {
  display: flex;
  align-items: center;
}

.post-reactions img {
  width: 1.4rem;
  margin-right: 0.5rem;
}

.post-reactions p {
  font-size: 0.7rem;
  color: var(--light-grey);
}

.all-post-comments {
  padding-left: 1rem;
  margin-left: 2rem;
  padding-top: 0.5rem;
  border-left: solid var(--alt-color) 1px;
}

.top-comment .post-body p {
  width: 19rem;
  font-size: 0.7rem;
}

.top-comment .post-body {
  width: 0px;
  padding: 0px;
}

.post-reactions {
  display: flex;
  align-items: center;
}

.top-comment .post-reactions img {
  width: 1rem;
  margin-right: 0.2rem;
}

.top-comment .post-reactions div {
  margin-right: 0.9rem;
}

.top-comment .post-template-header {
  margin-top: 0.5rem;
}

.top-comment .post-template-header img {
  width: 2rem;
  height: 2rem;
}

.top-comment .post-template-header .post-user-name {
  font-size: 0.8rem;
}

.top-comment .post-template-header .post-user-stack {
  font-size: 0.7rem;
}

.see-all-side-bar {
  text-decoration: none;
}

.see-all-side-bar p {
  font-size: 0.8rem;
  color: var(--call-to-action);
  text-align: right;
  margin-top: 0.2rem;
}

.see-all-side-bar p:hover {
  opacity: 0.8;
}

.top-post-and-comment {
  overflow: scroll;
  height: 43vh;
}

.top-post-and-comment::-webkit-scrollbar {
  display: none;
}

.announcements {
  padding: 0.5rem 0.8rem;
  background-color: var(--nav-backgroung-color);
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}

.announcements-header p {
  font-weight: 600;
  font-size: 1.1rem;
}

.announcements-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.announcement-template {
  padding-bottom: 0.5rem;
  overflow: scroll;
  height: 9rem;
}

.announcement-template::-webkit-scrollbar {
  display: none;
}

.q-and-a-icon {
  display: none;
}

@media (max-width: 1305px) {
  .q-and-a-icon {
    display: flex;
  }

  .qa-section {
    display: none;
  }

  body {
    padding-right: 2rem;
  }
}
