* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: 0.15s ease-in-out;
  color: white;
  font-family: roboto, arial;
}

/*Site Colors Delaclarion*/

:root {
  --main-color: rgb(0, 3, 9);
  --secondary-color: rgb(0, 146, 176);
  --call-to-action-color: rgb(65, 101, 213);
  --section-color: rgb(241, 172, 32);
}

/*------------------------------------------------------*/

body {
  color: none;
  background-image: linear-gradient(
    45deg,
    rgb(0, 3, 9) 0%,
    rgb(0, 146, 176) 500%
  );
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media (max-width: 807px) {
}

.hiden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.pc-templates:nth-child(2) {
  transition-delay: 200ms;
}

.pc-templates:nth-child(3) {
  transition-delay: 400ms;
}

.tc-template:nth-child(2) {
  transition-delay: 200ms;
}

.tc-template:nth-child(3) {
  transition-delay: 400ms;
}

.tc-template:nth-child(4) {
  transition-delay: 400ms;
}

.page-rc:nth-child(2) {
  transition-delay: 200ms;
}

.page-rc:nth-child(3) {
  transition-delay: 400ms;
}

.page-rc:nth-child(4) {
  transition-delay: 400ms;
}

@media (prefers-reduced-motion) {
  .hiden {
    transition: none;
  }
}
